a.out
tests/CMakeCache.txt
tests/CMakeFiles/
tests/Makefile
tests/cmake_install.cmake
tests/lib/
tests/runAllTests
CMakeFiles/
src/Makefile
src/TaskScheduler.cpp
src/cmake_install.cmake
src/CMakeCache.txt
task
test
src/main.cpp
src/tasks.cpp
header/tasks.hpp
CMakeCache.txt
Makefile
cmake_install.cmake